body, html {
  height: 100%;
  margin: 0;
}

button{
  background: #ffffff;
  font-family: 'Arial';
  font-size: 100px;
}



.login_reg{
  font-family: 'Arial';
  font-size: 50px;
  width: 500px;
  position: fixed;
  text-align: center;
}
.deals{
  font-family: 'Arial'
  font-size: 50px
  position: fixed;
  text-align: center;

}
.bg {
  /* The image used */
  background-image: url("../images/benderhome1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.container2 {
  display: flex; /* or inline-flex */
}

.mdl-card {
  overflow: visible;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
.quickstart-user-details-container, .user-details-container {
  margin-top: 20px;
  line-height: 25px;
}
#quickstart-sign-in-status, #sign-in-status, #quickstart-tenant-id {
  font-weight: bold;
}
